/*
Error: Undefined variable: "$text".
        on line 33 of sass/unit_test/_blog.scss
        from line 31 of sass/style.scss

28: @import "./element/search";
29: 
30: // blog and blog sidebar unittesting
31: @import "./unit_test/blog";
32:  @import "./unit_test/blog-details";
33:  @import "./unit_test/blog-sidebar";
34: @import "./unit_test/pagination";
35: // @import "./unit_test/sidebar";
36: // @import "./unit_test/unit-test";
37: // @import "./unit_test/wp-font-spacing";
38: // @import "./unit_test/pages";

Backtrace:
sass/unit_test/_blog.scss:33
sass/style.scss:31
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in 'Sass::Script::Tree::Variable#_perform'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in 'Sass::Script::Tree::Node#perform'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in 'Sass::Tree::Visitors::Perform#visit_prop'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block (2 levels) in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in 'Sass::Tree::Visitors::Perform#with_environment'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in 'Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block (2 levels) in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in 'Sass::Tree::Visitors::Perform#with_environment'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in 'Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block (2 levels) in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in 'Sass::Tree::Visitors::Perform#with_environment'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in 'Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block (2 levels) in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in 'Sass::Tree::Visitors::Perform#with_environment'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in 'Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block (2 levels) in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in 'Sass::Tree::Visitors::Perform#with_environment'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in 'Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block (2 levels) in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in 'block in Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in 'Sass::Tree::Visitors::Perform#with_environment'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in 'Sass::Tree::Visitors::Perform#visit_rule'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in 'block (2 levels) in Sass::Tree::Visitors::Perform#visit_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:325:in 'block in Sass::Tree::Visitors::Perform#visit_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in 'block in Sass::Stack#with_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:88:in 'Sass::Stack#with_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:322:in 'Sass::Tree::Visitors::Perform#visit_import'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'block in Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'block in Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in 'Sass::Stack#with_frame'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in 'Sass::Stack#with_base'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in 'block in Sass::Tree::Visitors::Base#visit_children'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in 'Array#map'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in 'Sass::Tree::Visitors::Base#visit_children'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in 'block in Sass::Tree::Visitors::Perform#visit_children'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in 'Sass::Tree::Visitors::Perform#with_environment'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in 'Sass::Tree::Visitors::Perform#visit_children'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'block in Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in 'Sass::Tree::Visitors::Perform#visit_root'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in 'Sass::Tree::Visitors::Base#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in 'Sass::Tree::Visitors::Perform#visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in 'Sass::Tree::Visitors::Perform.visit'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in 'Sass::Tree::RootNode#css_tree'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in 'Sass::Tree::RootNode#render_with_sourcemap'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in 'Sass::Engine#_render_with_sourcemap'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in 'Sass::Engine#render_with_sourcemap'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in 'Sass::Plugin::Compiler#update_stylesheet'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in 'block in Sass::Plugin::Compiler#update_stylesheets'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in 'Array#each'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in 'Sass::Plugin::Compiler#update_stylesheets'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in 'Sass::Plugin::Compiler#on_file_changed'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in 'block in Sass::Plugin::Compiler#watch'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in 'SassListen::Event::Config#call'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in 'SassListen::Event::Processor#_process_changes'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in 'block in SassListen::Event::Processor#loop_for'
<internal:kernel>:168:in 'Kernel#loop'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in 'SassListen::Event::Processor#loop_for'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in 'SassListen::Event::Loop#_wait_for_changes'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in 'block in SassListen::Event::Loop#setup'
C:/Users/ABC/.local/share/gem/ruby/3.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in 'block in SassListen::Internals::ThreadPool.add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$text\".\A         on line 33 of sass/unit_test/_blog.scss\A         from line 31 of sass/style.scss\A \A 28: @import \"./element/search\";\A 29: \A 30: // blog and blog sidebar unittesting\A 31: @import \"./unit_test/blog\";\A 32:  @import \"./unit_test/blog-details\";\A 33:  @import \"./unit_test/blog-sidebar\";\A 34: @import \"./unit_test/pagination\";\A 35: // @import \"./unit_test/sidebar\";\A 36: // @import \"./unit_test/unit-test\";\A 37: // @import \"./unit_test/wp-font-spacing\";\A 38: // @import \"./unit_test/pages\";"; }
