.footer{
    background: black;
    @include md{
        margin-top: -1px;
    }
    @include sm{
        margin-top: -1px;
    }
    &.style_1{
        background-color: $--p4;
    }
    padding: 0px 20px;
    @include sm{
        padding: 0px 10px;
    }
    .footer_area_quick_menu{
        @include flex(row, space-between, flex-start);
        flex-wrap: wrap;
        @include sm{
            gap: 40px;
        }
        @include md{
            gap: 40px 0px;
        }
        @include nesthub{
            gap: 40px 0px;
        }
        @include tow12{
            gap: 40px 0px;
        }
            .footer_logo{
                a{
                    width: fit-content;
                    height: fit-content;
                    display: block;
                    cursor: pointer !important;
                    margin-bottom: 20px;
                    img{
                    width: fit-content;
                    height: 100%;
                    object-fit: contain;
                    z-index: 100;
                    cursor: pointer;
                    }
                        }
                    }
                    p{
                        font-family: $--font-family;
                        font-weight: 500;
                        font-size: 18px;
                        color: $--white;
                        opacity: 0.7;
                    }
        .iteam_content{
            p{
                font-family: $--font-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: $--text2;
            }
        }
        
        .quicklink{
            @include flex(column, flex-start, flex-start);
            height: 100%;
            ul{
                margin: 0px;
                padding: 0px;
                @include flex(column, flex-start, flex-start);
                gap: 10px;
                margin-top: 20px;
                li{
                    a{
                        font-family: $--font3;
                        font-weight: 400;
                        font-size: 15px;
                        color: $--text2;
                    }
                    &:hover a{
                        @include transition(0.3s);
                        color: $--primary;
                    }
                    
                }
            }

            .contact_card_area{

                &.mt-34{
                    margin-top: 24px;
                }
                .contact_card_wrapper{
                    margin-top: 30px;

                    &:first-child{
                        margin-top: 0;
                    }

                    p{
                        color: $--text2;
                    }
                }

            }
        
            h3{
                font-family: $--font-family;
                font-weight: 600;
                font-size: 20px;
                letter-spacing: -0.02em;
                color: $--white;
                text-align: left;
                
            }
            p{
                font-family: $--font-family;
                font-weight: 500;
                font-size: 16px;
                color: $--text2;
                margin-top: 8px;
            }
            form{
                border: 1px solid #ffffff24;
                margin-top: 25px;
                @include flex(row, space-between, center);
                width: 100%;
                height: 50px;
                input{
                    width: 65%;
                    padding: 20px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: $--white;
                    &::placeholder{
                    color: $--white;
                    font-weight:100;
                    }
                    
            }
            button{
                width: 124px;
                height: 40px;
                background-color: $--primary;
                text-align: center;
                line-height: 40px;
                border: none;
                color: $--white;
                margin-right: 5px;
                font-family: $--font-family;
                font-weight: 500;
                font-size: 15px;
                &:hover{
                    background-color: #5d85e1;
                }
            }
            }
            .social_media ul{
            margin: 0px;
            margin-top: 39px;
            padding: 0px;
            @include flex(row, flex-start, center);
            gap: 10px;
            li{
                a{
                    width: fit-content;
                    @include border-radius(50%);
                    width:40px;
                    height: 40px;
                    border: 1px solid #ffffff24;
                    color: $--white;
                    display: block;
                    text-align: center;
                    line-height: 40px;
                    @include transition(0.4s);
                    &:hover{
                        background-color: $--primary;
                        border: 1px solid transparent;
                        color: $--white;
                    }
                }
                    }

                    
        }
        }
        
    }

    .contact_card_wrapper .contact_details{
        h5 {
            color: $--text2;
        }
        a{
            color: $--text2;
        }
    } 

    .footer_last{
        p{
            font-family: $--font-family;
            font-weight: 400;
            font-size: 16px;
            color: $--white;
            opacity: 0.8;
        }
        @include nesthub{ 
            margin-top: -17px;
        }
        @include sm{
            margin-top: -32px;
            justify-content: flex-start;
            gap: 10px;
        }
        padding-bottom: 20px;
        padding-top: 20px;
        @include md {
            .footer_last_menu{
                gap:20px;
                ul{
                    justify-content: flex-start !important;
                    padding: 0;
                    margin-top: 10px;
                }
            }
        }
        min-height: 44px;
        @include flex(row, space-between, flex-end);
        flex-wrap: wrap;
        border-top: 1px solid rgba(193, 193, 193, 0.300);
        width: 100%;
        .footer_last_menu{
            @include sm{
                margin-bottom: -10px;
            }
            ul{
                @include flex(row, flex-end, flex-end);
                margin: 0px;
                gap: 30px;
                @include sm{
                    justify-content: flex-start;
                    padding: 0;
                }
                li{
                    text-align: left;
                    width: 100%;
                    width: fit-content !important;
                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        right: -15px;
                        width: 1px;
                        height: 16px;
                        background-color: #fff;
                    }

                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                    a{
                        font-family: $--font-family;
                        font-weight: 400;
                        font-size: 16px;
                        color: $--white;
                        opacity: 0.8;
                        @include transition(0.4s);
                        &:hover{
                            color: $--primary;
                            margin-bottom: 5px;
            }
                        
                    }
                }
            }
        }
    }
    .footer_last_area{
        background-color: $--primary;
    }

    .contact_card_wrapper{
        .contact_icon{
                   
            span{
            color: $--p5;
            } 
            
        }
    }

    .social_area ul li a {
        color: $--text2;

        &:hover{
            color: $--black;
            background-color: $--p5;
        }
    }
    
    &.style-2{
        .contact_card_wrapper{
            .contact_icon{
                       
                span{
                color: $--white;
                } 
                
            }
        }

        .social_area ul li a:hover {
            color: $--black;
            background-color: $--white;
        }

    }
    
}