.heading_area{
    .sub_heading{
        position: relative;
        h3{
            font-family: $--third-family;
            font-weight: 700;
            font-size: 36px;
            @include sm{
                font-size: 22px;
            }
            color: $--p4;
        }
        
        &.style_1{
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 222px;
                @include transformY(-50%);
                width: 105px;
                height: 1px;
                background-color: $--p5;
                @include nesthubmax{
                    display: none !important;
                }
                @include nesthub{
                    display: none !important;
                }
                @include md{
                    display: none !important;
                }
                @include sm{
                    display: none !important;
                }
                
            }
        }
        &.style_2{
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                right: 0px;
                @include transformY(-50%);
                width: 100%;
                height: 1px;
                background-color: $--two;
                @include nesthubmax{
                    width: 75%;
                }
                @include nesthub{
                    width: 65%;
                }
                @include md{
                    display: none !important;
                }
                @include sm{
                    display: none !important;
                }
            }
        }
        &.style_3{
            &::after{
                width: 138px;
                left:242px;
                @include md{
                    display: none !important;
                }
                @include sm{
                    display: none !important;
                }
            }
        }
        &.style_4{
            &::after{
                width: 80%;
                @include nesthubmax{
                    width: 65%;
                }
                @include nesthub{
                    width: 70%;
                }
                @include md{
                    display: none !important;
                }
                @include sm{
                    display: none !important;
                }
            }
        }
        &.style_7{
            &::after{
                width: 80%;
                @include nesthubmax{
                    width: 65%;
                    right: 40px;
                }
                @include nesthub{
                    width: 70%;
                    right: 30px;
                }
                @include md{
                    display: none !important;
                }
                @include sm{
                    display: none !important;
                }
            }
        }
        &.style_5{
            &::after{
                width: 70%;
                @include nesthubmax{
                    width: 55%;
                    right: 50px;
                }
                @include nesthub{
                    width: 50%;
                    right: 50px;
                }
                @include md{
                    display: none !important;
                }
                @include sm{
                    display: none !important;
                }
            }
        }
        &.style_01{
           h3{
            color: $--white;
           }
        }
        
    }
    .heading{
        h2{
            font-family: $--third-family;
            font-weight: 700;
            font-size: 36px;
            @include nesthub{
                font-size: 30px;
            }
            @include md{
                font-size: 24px;
            }
            @include sm{
                font-size: 20px;
            }
            color: $--p4;
        }
        h3{
            font-family: $--third-family;
            font-weight: 700;
            font-size: 30px;
            text-transform: capitalize;
            color: $--white;
            span{
                color: $--p5;
                margin-right: 10px;
            }
        }
        &.style_1{
            h2{
                color: $--white;
            }
            h3{
                color: $--white;
            }
        }
    }
}
.describtion{
    p{
        font-family: $--font-family;
        font-weight: 400;
        font-size: 16px;
        color: #202124;
        line-height: 26px;
    }
    &.style_1{
        p{
            color: $--eight;
        }
    }
    &.style_2{
        p{
            color: $--nine !important;
        }
    }
    &.style_3{
        p{
            color: $--white !important;
            font-family: $--font3;
            font-size: 15px;

        }
    }
    &.style_4{
        p{
            color: $--white;

        }
    }
    &.style_5{
        p{
            color: $--white;
            font-weight: 600;
        }
    }
}
@include nesthubmax{
    .br_nesthub{
        display: none;
    }
}
@include nesthub{
    .br_nest{
        display: none;
    }
}
@include md{
    .br_md_hide{
        display: none;
    }
}