/* Preloader styles */
.preloader_area{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $--white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#preloader {
  width: 300px;
  height: 300px;
  @include border-radius(50%);
  @include flex(column, center, center);
  gap: 20px;
  position: relative;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(-50%, -50%);
  }
}

.loader {
  width: 300px;
  height: 300px;
  background-color: $--p5;
  @include border-radius(50%);
  @include flex(column,center,center);
  gap: 20px;
  border: 5px solid #d1d8e0;
  border-top: 5px solid $--secondary;
  border-radius: 50%;
  animation: spin 3s linear infinite;
  -webkit-animation: spin 3s linear infinite;
}

/* Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
